@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 400;
    font-size: large;
}

#base {
    /* position: relative; */
    /* margin-top: -21px; */
    color: black;
    background: white;
}

#column-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    color: "green";
}